<section class="signin-section">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">登入</h1>
                        </div>
                        <div class="cover-image">
                            <img src="assets/images/auth/signin-image.svg" alt="" />
                        </div>
                        <div class="shape-image">
                            <img src="assets/images/auth/shape.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>帳號</label>
                                        <input type="email" placeholder="Username" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>密碼</label>
                                        <input type="password" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-start text-md-end text-lg-start text-xxl-end mb-30">
                                        <a [routerLink]="['/resetpassword']" class="hover-underline">
                                            忘記密碼
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            登入
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="singin-option pt-40">
                            <p class="text-sm text-medium text-center text-gray">
                                社群帳號登入
                            </p>
                            <div class="button-group pt-40 pb-40 d-flex justify-content-center flex-wrap">
                                <button class="main-btn primary-btn-outline m-2">
                                    <i class="lni lni-facebook-filled mr-10"></i>
                                    Facebook
                                </button>
                                <button class="main-btn danger-btn-outline m-2">
                                    <i class="lni lni-google mr-10"></i>
                                    Google
                                </button>
                            </div>
                            <p class="text-sm text-medium text-dark text-center">
                                還沒有註冊?
                                <a [routerLink]="['/register']">免費註冊</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>