<body [ngClass]="getTheme()">
    <aside class="sidebar-nav-wrapper">
        <div class="navbar-logo">
            <a [routerLink]="['/']">
                <img class="logo" src="assets/images/logo/MuWEB-LOGO.png" alt="logo" />
            </a>
        </div>
        <nav class="sidebar-nav">
            <ul>

                <!-- HOME -->
                <li class="nav-item">
                    <a [routerLink]="['/']" (click)="menuActive('home')" class="active">
                        <span class="icon">
                            <i class="lni lni-home"></i>
                        </span>
                        <span class="text" class="active">首頁</span>
                    </a>
                </li>

                <!-- CLIENT -->
                <li class="nav-item nav-item-has-children">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#client" aria-controls="client"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <i class="lni lni-customer"></i>
                        </span>
                        <span class="text">客戶管理</span>
                    </a>
                    <ul id="client" class="collapse show dropdown-nav">
                        <li>
                            <a [routerLink]="['/client-info']"
                                (click)="menuActive('client-info')"
                                [ngClass]="menuClass('client-info')">
                                <span class="text">
                                    客戶資料
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-serve']"
                                (click)="menuActive('client-serve')"
                                [ngClass]="menuClass('client-serve')">
                                <span class="text">
                                    服務紀錄
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-reserve']"
                                (click)="menuActive('client-reserve')"
                                [ngClass]="menuClass('client-reserve')">
                                <span class="text">
                                    預約紀錄
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-trade']"
                                (click)="menuActive('client-trade')"
                                [ngClass]="menuClass('client-trade')">
                                <span class="text">
                                    交易紀錄
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-develop']"
                                (click)="menuActive('client-develop')"
                                [ngClass]="menuClass('client-develop')">
                                <span class="text">
                                    客戶開發
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-analyze']"
                                (click)="menuActive('client-analyze')"
                                [ngClass]="menuClass('client-analyze')">
                                <span class="text">
                                    客戶分析
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- PROJECT -->
                <li class="nav-item nav-item-has-children">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#project" aria-controls="project"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <i class="lni lni-layout"></i>
                        </span>
                        <span class="text">專案管理</span>
                    </a>
                    <ul id="project" class="collapse show dropdown-nav">
                        <li>
                            <a [routerLink]="['/project-info']"
                                (click)="menuActive('project-info')"
                                [ngClass]="menuClass('project-info')">
                                <span class="text">
                                    專案計畫
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/project-schedule']"
                                (click)="menuActive('project-schedule')"
                                [ngClass]="menuClass('project-schedule')">
                                <span class="text">
                                    專案排程
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/project-form']"
                                (click)="menuActive('project-form')"
                                [ngClass]="menuClass('project-form')">
                                <span class="text">
                                    任務分配
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/project-analyze']"
                                (click)="menuActive('analyze')"
                                [ngClass]="menuClass('analyze')">
                                <span class="text">
                                    專案分析
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Finance -->
                <li class="nav-item nav-item-has-children">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#finance" aria-controls="finance"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <i class="lni lni-dollar"></i>
                        </span>
                        <span class="text">財務管理</span>
                    </a>
                    <ul id="finance" class="collapse show dropdown-nav">
                        <li>
                            <a [routerLink]="['/client-develop']"
                                (click)="menuActive('client-develop')"
                                [ngClass]="menuClass('client-develop')">
                                <span class="text">
                                    財務報表
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-info']"
                                (click)="menuActive('client-info')"
                                [ngClass]="menuClass('client-info')">
                                <span class="text">
                                    會計管理
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-serve']"
                                (click)="menuActive('client-serve')"
                                [ngClass]="menuClass('client-serve')">
                                <span class="text">
                                    帳戶管理
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-analyze']"
                                (click)="menuActive('client-analyze')"
                                [ngClass]="menuClass('client-analyze')">
                                <span class="text">
                                    稅務管理
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-analyze']"
                                (click)="menuActive('client-analyze')"
                                [ngClass]="menuClass('client-analyze')">
                                <span class="text">
                                    資產管理
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Personnel -->
                <li class="nav-item nav-item-has-children">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#personnel" aria-controls="personnel"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <i class="lni lni-postcard"></i>
                        </span>
                        <span class="text">人事管理</span>
                    </a>
                    <ul id="personnel" class="collapse show dropdown-nav">
                        <li>
                            <a [routerLink]="['/client-develop']"
                                (click)="menuActive('client-develop')"
                                [ngClass]="menuClass('client-develop')">
                                <span class="text">
                                    員工資料
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-info']"
                                (click)="menuActive('client-info')"
                                [ngClass]="menuClass('client-info')">
                                <span class="text">
                                    培訓紀錄
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-serve']"
                                (click)="menuActive('client-serve')"
                                [ngClass]="menuClass('client-serve')">
                                <span class="text">
                                    薪酬管理
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-analyze']"
                                (click)="menuActive('client-analyze')"
                                [ngClass]="menuClass('client-analyze')">
                                <span class="text">
                                    福利管理
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-analyze']"
                                (click)="menuActive('client-analyze')"
                                [ngClass]="menuClass('client-analyze')">
                                <span class="text">
                                    考勤紀錄
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-analyze']"
                                (click)="menuActive('client-analyze')"
                                [ngClass]="menuClass('client-analyze')">
                                <span class="text">
                                    權限設置
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- File -->
                <li class="nav-item">
                    <a [routerLink]="['/file-manager']">
                        <span class="icon">
                            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.77778 1.77778V14.2222H16V3.55556H8.52089L6.74311 1.77778H1.77778ZM9.25689 1.77778H16.8889C17.1246 1.77778 17.3507 1.87143 17.5174 2.03813C17.6841 2.20483 17.7778 2.43092 17.7778 2.66667V15.1111C17.7778 15.3469 17.6841 15.573 17.5174 15.7397C17.3507 15.9064 17.1246 16 16.8889 16H0.888889C0.653141 16 0.427048 15.9064 0.260349 15.7397C0.0936505 15.573 0 15.3469 0 15.1111V0.888889C0 0.653141 0.0936505 0.427048 0.260349 0.260349C0.427048 0.0936505 0.653141 0 0.888889 0H7.47911L9.25689 1.77778Z" />
                            </svg>
                        </span>
                        <span class="text">
                            文件管理
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="overlay"></div>

    <main class="main-wrapper">
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-20">
                                <button id="menu-toggle" class="main-btn primary-btn btn-hover"
                                    (click)="sidebarToggle()">
                                    <i class="lni lni-chevron-left me-2"></i> 選單
                                </button>
                            </div>
                            <div class="header-search d-none d-md-flex">
                                <form action="#">
                                    <input type="text" placeholder="搜尋..." />
                                    <button><i class="lni lni-search-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-6">
                        <div class="header-right">
                            <div class="notification-box ml-15 d-none d-md-flex">
                                <button class="dropdown-toggle" type="button" id="notification"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="lni lni-alarm"></i>
                                    <span>2</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notification">
                                    <li>
                                        <a href="#0">
                                            <div class="image">
                                                <img src="assets/images/lead/lead-6.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h6>
                                                    John Doe
                                                    <span class="text-regular">
                                                        comment on a product.
                                                    </span>
                                                </h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consect etur adipiscing
                                                    elit Vivamus tortor.
                                                </p>
                                                <span>10 mins ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <div class="image">
                                                <img src="assets/images/lead/lead-1.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h6>
                                                    Jonathon
                                                    <span class="text-regular">
                                                        like on a product.
                                                    </span>
                                                </h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consect etur adipiscing
                                                    elit Vivamus tortor.
                                                </p>
                                                <span>10 mins ago</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-message-box ml-15 d-none d-md-flex">
                                <button class="dropdown-toggle" type="button" id="message" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="lni lni-envelope"></i>
                                    <span>3</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="message">
                                    <li>
                                        <a href="#0">
                                            <div class="image">
                                                <img src="assets/images/lead/lead-5.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h6>Jacob Jones</h6>
                                                <p>Hey!I can across your profile and ...</p>
                                                <span>10 mins ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <div class="image">
                                                <img src="assets/images/lead/lead-3.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h6>John Doe</h6>
                                                <p>Would you mind please checking out</p>
                                                <span>12 mins ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <div class="image">
                                                <img src="assets/images/lead/lead-2.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h6>Anee Lee</h6>
                                                <p>Hey! are you available for freelance?</p>
                                                <span>1h ago</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-box ml-15 d-none d-md-flex">
                                <button class="" type="button" id="filter">
                                    <i class="lni lni-funnel"></i>
                                </button>
                            </div>
                            <div class="profile-box ml-15">
                                <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-info">
                                        <div class="info">
                                            <h6>MuYi</h6>
                                            <div class="image">
                                                <img src="assets/images/profile/profile-image.png" alt="" />
                                                <span class="status"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="lni lni-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                    <li>
                                        <a href="#0">
                                            <i class="lni lni-user"></i> 個人資料
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <i class="lni lni-alarm"></i> 通知
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0"> <i class="lni lni-inbox"></i> 訊息 </a>
                                    </li>
                                    <li>
                                        <a href="#0"> <i class="lni lni-cog"></i> 設置 </a>
                                    </li>
                                    <li>
                                        <a href="#0"> <i class="lni lni-exit"></i> 登出 </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <app-body></app-body>
    </main>
</body>

<button class="option-btn" (click)="themeSwitcher('open')">
    <i class="lni lni-cog"></i>
</button>
<div class="option-overlay"></div>
<div class="option-box">
    <div class="option-header">
        <h5>喜好設定</h5>
        <button class="option-btn-close text-gray" (click)="themeSwitcher('close')">
            <i class="lni lni-close"></i>
        </button>
    </div>

    <h6 class="mb-10">側欄</h6>
    <ul class="mb-30">
        <li><button class="leftSidebarButton active" (click)="layoutChange('left')">左側</button></li>
        <li><button class="rightSidebarButton" (click)="layoutChange('right')">右側</button></li>
    </ul>

    <h6 class="mb-10">主題</h6>
    <ul class="mb-30">
        <li><button class="lightThemeButton active" (click)="themeChange('light')">淺色主題</button></li>
        <li><button class="darkThemeButton" (click)="themeChange('dark')">深色主題</button></li>
    </ul>
</div>