<section class="signin-section">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">註冊</h1>
                        </div>
                        <div class="cover-image">
                            <img src="assets/images/auth/signin-image.svg" alt="" />
                        </div>
                        <div class="shape-image">
                            <img src="assets/images/auth/shape.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="signup-wrapper">
                    <div class="form-wrapper">
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>暱稱</label>
                                        <input type="text" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>帳號</label>
                                        <input type="text" placeholder="Username" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>密碼</label>
                                        <input type="password" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>信箱</label>
                                        <input type="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            註冊
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="singup-option pt-40">
                            <p class="text-sm text-medium text-center text-gray">
                                社群帳號註冊
                            </p>
                            <div class="button-group pt-40 pb-40 d-flex justify-content-center flex-wrap">
                                <button class="main-btn primary-btn-outline m-2">
                                    <i class="lni lni-facebook-filled mr-10"></i>
                                    Facebook
                                </button>
                                <button class="main-btn danger-btn-outline m-2">
                                    <i class="lni lni-google mr-10"></i>
                                    Google
                                </button>
                            </div>
                            <p class="text-sm text-medium text-dark text-center">
                                已經有帳號? <a [routerLink]="['/login']">立即登入</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>