<section class="section">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="titlemb-30">
                        <h2>File Manager</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="#0"> Dashboard </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    File Manager
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="file-manager-cards-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon purple">
                            <i class="lni lni-folder text-bold"></i>
                        </div>
                        <div class="content">
                            <div>
                                <h6 class="text-semibold text-purple">Design</h6>
                                <p class="text-sm text-gray">17 files</p>
                            </div>
                            <div>
                                <h6 class="file-size">459 MB</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon success">
                            <i class="lni lni-image text-bold"></i>
                        </div>
                        <div class="content">
                            <div>
                                <h6 class="text-semibold text-success">Image</h6>
                                <p class="text-sm text-gray">12 files</p>
                            </div>
                            <div>
                                <h6 class="file-size">120 MB</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon primary">
                            <i class="lni lni-music text-bold"></i>
                        </div>
                        <div class="content">
                            <div>
                                <h6 class="text-semibold text-primary">Music</h6>
                                <p class="text-sm text-gray">39 files</p>
                            </div>
                            <div>
                                <h6 class="file-size">374 MB</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon orange">
                            <i class="lni lni-files text-bold"></i>
                        </div>
                        <div class="content">
                            <div>
                                <h6 class="text-semibold text-orange">Docs</h6>
                                <p class="text-sm text-gray">78 files</p>
                            </div>
                            <div>
                                <h6 class="file-size">237 MB</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="card-style mb-30">
                        <div class="title d-flex justify-content-between align-items-center mb-30">
                            <h6>Recent file</h6>
                            <div class="more-btn-wrapper">
                                <button class="more-btn dropdown-toggle" id="moreAction" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="lni lni-more-alt"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                                    <li class="dropdown-item">
                                        <a href="#0" class="text-gray">Add All</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="#0" class="text-gray">Remove All</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="recent-files">
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-1.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Recording.mp3</h6>
                                        <p class="text-sm">10 Oct, 11:23 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">12 MB</h6>
                                </div>
                            </div>
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-2.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Final design.fig</h6>
                                        <p class="text-sm">25 Oct, 11:23 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">56 MB</h6>
                                </div>
                            </div>
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-3.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Work.doc</h6>
                                        <p class="text-sm">25 Oct, 11:23 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">12 MB</h6>
                                </div>
                            </div>
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-4.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Svg logo.png</h6>
                                        <p class="text-sm">30 Oct, 11:23 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">7 MB</h6>
                                </div>
                            </div>
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-5.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Homepage.xd</h6>
                                        <p class="text-sm">10 Nov, 1:23 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">57 MB</h6>
                                </div>
                            </div>
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-3.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Office work.doc</h6>
                                        <p class="text-sm">02 Jan, 10:13 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">12 MB</h6>
                                </div>
                            </div>
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-1.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Voice mail.mp3</h6>
                                        <p class="text-sm">10 Oct, 11:23 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">12 MB</h6>
                                </div>
                            </div>
                            <div class="recent-file-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon">
                                        <img src="assets/images/file-manager/recent-files/icon-6.svg" alt="icon" />
                                    </div>
                                    <div>
                                        <h6>Mockup.psd</h6>
                                        <p class="text-sm">10 Oct, 11:23 pm</p>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="text-sm text-medium">98 MB</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="card-style mb-30">
                        <div class="title d-flex flex-wrap align-items-center justify-content-between">
                            <div class="left">
                                <h6 class="mb-2">Activity Chart</h6>
                            </div>
                            <div class="right">
                                <div class="select-style-1 mb-2">
                                    <div class="select-position select-sm">
                                        <select class="light-bg">
                                            <option value="">Weekly</option>
                                            <option value="">Monthly</option>
                                            <option value="">Daily</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chart">
                            <div id="legend4">
                                <ul class="legend3 d-flex flex-wrap align-items-center mb-30">
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color primary-bg"> </span>
                                            <div class="text">
                                                <h6 class="text-sm text-medium">Media</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color photo-bg"></span>
                                            <div class="text">
                                                <h6 class="text-sm text-medium">Photos</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <span class="bg-color doc-bg"></span>
                                            <div class="text">
                                                <h6 class="text-sm text-medium">Docs</h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <canvas id="Chart4" style="width: 100%; height: 300px"></canvas>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-12 col-xxl-6">
                            <div class="card-style file-card mb-30 position-relative">
                                <div class="card-body">
                                    <div class="chart-wrapper">
                                        <div class="chart-body ldBar-chart text-primary">
                                            <div id="ldBar-8" class="stroke-primary" style="width: 100%; height: 100%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="file-chart-content">
                                        <h5 class="mb-1">
                                            Available <br />
                                            Storage
                                        </h5>
                                        <h6 class="text-sm">
                                            150 <span class="text-gray text-xs">GB /</span> 512
                                            <span class="text-gray text-xs">GB</span>
                                        </h6>
                                        <button class="clean-button">Clean</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 col-xxl-6">
                            <div class="card-style mb-30">
                                <div class="file-list">
                                    <div class="file-item">
                                        <div class="icon text-primary">
                                            <i class="lni lni-camera text-bold"></i>
                                        </div>
                                        <div class="file-item-data w-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="text-sm text-medium">Media</h6>
                                                <h6 class="text-xs text-medium">85 GB</h6>
                                            </div>
                                            <div class="file-size-wrapper">
                                                <div class="file-size bg-primary" style="width: 80%"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="file-item">
                                        <div class="icon text-warning">
                                            <i class="lni lni-files text-bold"></i>
                                        </div>
                                        <div class="file-item-data w-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="text-sm text-medium">Documents</h6>
                                                <h6 class="text-xs text-medium">25 GB</h6>
                                            </div>
                                            <div class="file-size-wrapper">
                                                <div class="file-size bg-warning" style="width: 60%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="file-item">
                                        <div class="icon text-doc">
                                            <i class="lni lni-folder text-bold"></i>
                                        </div>
                                        <div class="file-item-data w-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="text-sm text-medium">Media</h6>
                                                <h6 class="text-xs text-medium">85 GB</h6>
                                            </div>
                                            <div class="file-size-wrapper">
                                                <div class="file-size doc-bg" style="width: 80%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>