<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap mb-30">
                    <h2 class="mr-40">交易紀錄</h2>
                    <a [routerLink]="['/client-info/add']" class="main-btn primary-btn btn-hover btn-sm">
                        <i class="lni lni-plus mr-5"></i> 新增
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-style-1">
                    <input type="text" placeholder="輸入客戶資料搜尋.." />
                </div>
            </div>
            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="lead-info">
                                                <h6>編號</h6>
                                            </th>
                                            <th class="lead-info">
                                                <h6>名稱</h6>
                                            </th>
                                            <th class="lead-email">
                                                <h6>聯繫人</h6>
                                            </th>
                                            <th class="lead-phone">
                                                <h6>性別</h6>
                                            </th>
                                            <th class="lead-phone">
                                                <h6>電話</h6>
                                            </th>
                                            <th class="lead-company">
                                                <h6>信箱</h6>
                                            </th>
                                            <th class="lead-company">
                                                <h6>狀態</h6>
                                            </th>
                                            <th>
                                                <h6>操作</h6>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-001</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">陽光企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>陳小明</p>
                                            </td>
                                            <td class="min-width">
                                                <p>男</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn active-btn">良好</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-002</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">韓韓企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>金小恩</p>
                                            </td>
                                            <td class="min-width">
                                                <p>男</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn close-btn">拒絕往來</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-003</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">順洋企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>李中大</p>
                                            </td>
                                            <td class="min-width">
                                                <p>男</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn active-btn">良好</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-004</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">富美企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>王小美</p>
                                            </td>
                                            <td class="min-width">
                                                <p>女</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn active-btn">良好</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-005</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">李白企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>李太白</p>
                                            </td>
                                            <td class="min-width">
                                                <p>男</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn close-btn">流失</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-006</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">杜甫企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>杜太甫</p>
                                            </td>
                                            <td class="min-width">
                                                <p>男</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn close-btn">流失</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-007</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">狼人企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>小紅帽</p>
                                            </td>
                                            <td class="min-width">
                                                <p>女</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn active-btn">良好</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="min-width">
                                                <p>SA-008</p>
                                            </td>
                                            <td class="min-width">
                                                <a href="#">小豬企業</a>
                                            </td>
                                            <td class="min-width">
                                                <p>豬媽媽</p>
                                            </td>
                                            <td class="min-width">
                                                <p>女</p>
                                            </td>
                                            <td>
                                                <p>0912-345-678</p>
                                            </td>
                                            <td>
                                                <p>email@gmail.com</p>
                                            </td>
                                            <td>
                                                <span class="status-btn active-btn">良好</span>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>