<section class="signin-section">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">重設密碼</h1>
                        </div>
                        <div class="cover-image">
                            <img src="assets/images/auth/reset-password.svg" alt="" />
                        </div>
                        <div class="shape-image">
                            <img src="assets/images/auth/shape.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="reset-password-wrapper">
                    <div class="form-wrapper">
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>信箱</label>
                                        <input type="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            繼續
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex justify-content-between flex-wrap pt-40">
                            <a [routerLink]="['/login']" class="hover-underline"> 登入 </a>
                            <p>
                                還沒有註冊?
                                <a [routerLink]="['/register']" class="hover-underline">
                                    註冊
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>